<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1"></meta>
  <script src="/js/customer.js"></script>
</head>
<body>
	<h1>Add users using Ajax .....</h1>
	<table>
		<tr><td colspan="2"><div id = "error" class = "error"></div></td></tr>
		<tr><td>Enter your name: </td><td> <input type="text" id="firstname" /><br/></td></tr>
		<tr><td>Enter your education: </td><td> <input type="text" id="lastname" /><br/></td></tr>
		<tr><td colspan="2"> <input type="button" value="Add users" onclick="ajaxPost()"/> <br/></td></tr>
		<tr><td colspan="2"><div id = "info" class = "success"></div></td></tr>
	</table>
</body>
</html>
