<div class="col-sm-3 sidenav">
	<ul class="nav nav-pills nav-stacked">
        <li style="background-color: #2bbc14;"><a th:href="@{/}" >Home</a></li>
        <li style="background-color: #2bbc14;"><a th:href="@{/signIn}">Zaloguj</a></li>
        <li style="background-color: #2bbc14;"><a th:href="@{/signUp}">Rejestracja</a></li>
        <li style="background-color: #2bbc14;"><a th:href="@{/book/list}">Lista ksiazek</a></li>
        <li style="background-color: #2bbc14;"><a th:href="@{/book/modification}">Modyfikacja ksiazki</a></li>
        <li style="background-color: #2bbc14;"><a th:href="@{/author/list}">Lista autorow</a></li>
        <li style="background-color: #2bbc14;"><a th:href="@{/author/modification}">Modyfikacja autorow</a></li>
        <li style="background-color: #2bbc14;"><a th:href="@{/publisher/list}">Lista wydawnictw</a></li>
        <li style="background-color: #2bbc14;"><a th:href="@{/publisher/modification}">Modyfikacja wydawnictw</a></li>
		<li style="background-color: #2bbc14;"><a th:href="@{/contact}">Kontakt</a></li>
		
    </ul>
    <br></br>
</div>